* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  height: 115vh;
  overflow-x: hidden;
}

.background-color {
  background: #f0f2f5;
}

.row {
  display: flex;
  clear: both;
  height: 100vh;
  margin-bottom: 20px;
}

.column-facebook {
  float: left;
  height: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.image-fb {
  display: flex;
  width: 200px;
  height: 70px;
  padding: 320px 50px 0px 50px;
  margin-top: 200px;
  margin-left: 100px;
}

.facebook-def {
  margin-bottom: 200px;
  margin-left: 150px;
  padding-bottom: 250px;
  font-weight: normal;
  padding-top: 20px;
  display: flex;
}

.column-login {
  position: relative;
  flex: 50%;
  float: left;
  padding: 100px;
  justify-content: center;
}

.button-email {
  text-align: center;
}

.button-email > input[type="text"] {
  height: 35%;
  margin: 8px 0;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  width: 85%;
  border: 1.5px solid #eeeff0;
}

.button-email > input[type="text"]:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px #719ece;
  caret-color: blue;
}

.background-input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 400px;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

.button-login {
  background-color: #166fe5;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  line-height: 48px;
  width: 95%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-login:hover {
  background-color: #166fe5;
}

.forgot-pass > a {
  margin: 80px;
  text-decoration: none;
  font-size: 15px;
  color: #1877f2;
  font-weight: 500;
  padding: 50px;
  text-align: center;
}

.forgot-pass > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.break-smallline {
  width: 95%;
  height: 1px;
  background-color: rgb(194, 193, 193);
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.button-create {
  background-color: #36a420;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px 1px;
  width: 50%;
  margin: 20px auto 10px auto;
  font-weight: bold;
  text-align: center;
}

.create {
  font-size: 15px;
  position: absolute;
  padding-top: 30px;
  padding-left: 50px;
}

.page {
  font-weight: bold;
}

.page:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button-create:hover {
  background-color: #2b8f17;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 15px;
  margin-top: 100px;
  justify-content: center;
  word-spacing: 12px;
  line-height: 20px;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
}

.break-line {
  margin-left: 0;
  background-color: rgb(194, 193, 193);
  width: 80%;
  height: 15px;
  height: 1px;
}

.languages {
  padding-right: 200px;
  padding-bottom: 10px;
}

.languages > a {
  text-decoration: none;
  font-size: 15px;
  color: #6d6d6d;
  font-weight: 500;
}

.languages > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  color: #6d6d6d;
  padding-top: 10px;
}

.text > a {
  text-decoration: none;
  font-size: 15px;
  color: #6d6d6d;
  font-weight: 500;
}

.text > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1114px) {
  .row {
    left: 70px;
    margin-right: 22vw;
  }
  .column-facebook {
    left: 70px;
    margin-right: 22vw;
  }
  .column-login {
    right: 30px;
  }
}
@media screen and (max-width: 900px) {
  body {
    height: 150vh;
  }
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column-facebook {
    margin-right: 0;
    align-items: center;
    left: 0;
    top: 20px;
  }
  .column-login {
    text-align: center;
    left: center;
    top: 80px;
    margin: auto;
  }
  .footer {
    position: absolute;
    padding: 20px;
    width: 100vw;
    align-items: center;
  }
}
