.background-color {
  background: #f0f2f5;
}

.row {
  display: flex;
  clear: both;
}

.column-facebook {
  flex: 50%;
  float: left;
  height: 50%;
  padding: 10px;
}

.column-login {
  flex: 50%;
  float: left;
  height: 50%;
  padding: 10px;
}

.input-background {
  color: white;
}
